<section class="banner">
  <div class="container">
    <div class="banner-container">
      <div class="banner-subtittle-form">
        <h2 class="banner-tittle">GET 50%</h2>
        <form class="banner-form">
          <input type="text" placeholder="Email Address" class="banner-input" />
          <button type="button" class="banner-button">
            <a href="" class="banner-link">subscribe</a>
          </button>
        </form>
      </div>
      <img
        srcset="./img/banner-img-1x.png 1x, ../img/banner-img-2x.png 2x"
        src="./img/banner-img-1x.png"
        alt="Food image"
        class="banner-img"
      />
    </div>
  </div>
</section>
