<div class="basket-modal">
  <div class="basket">
    <ul class="header-login">
      <li><a href="./sign-in.html" class="header-login-item">Login</a></li>
      <li>
        <a href="./sign-up.html" class="header-login-item signup">Sign Up</a>
      </li>
    </ul>
    <button type="button" class="basket-close-btn" id="closeBasket">
      <svg width="10px" height="10px">
        <use href="./img/sprite.svg#icon-close-order"></use>
      </svg>
    </button>
    <div class="empty-basket">
      <svg>
        <use href="./img/sprite.svg#icon-basket"></use>
      </svg>
      <p class="basket-modal-heading">The basket is empty</p>
      <p class="basket-modal-caption">But it's never too late to fix it :)</p>
    </div>
    <div class="basket-swiper">
      <div class="basket-container"></div>
    </div>
    <div class="basket-wrap">
      <p class="basket-wrap-total">Total price</p>
      <p class="basket-wrap-price">...</p>
      <button class="basket-wrap-btn" type="button">To Order</button>
    </div>
  </div>
</div>
