<section class="section-sign-up">
  <div class="container">
    <h1 class="title-sign-up">
      Sign Up To <span class="title-highlighted">eatly</span>
    </h1>
    <form class="login-options">
      <button class="" type="submit">
        <svg class="" width="20" height="24">
          <use
            class="google-icon"
            href="./img/login-sprite.svg#icon-google"
          ></use>
        </svg>
      </button>
      <button class="" type="submit">
        <svg class="" width="20" height="24">
          <use
            class="ios-apple-icon"
            href="./img/login-sprite.svg#icon-ios-apple"
          ></use>
        </svg>
      </button>
    </form>

    <p class="text-or">OR</p>

    <form class="sign-up-form" autocomplete="on">
      <!-- full name -->
      <div class="input-wrap">
        <label class="" for="user-name-field"></label>
        <input
          class="input-sign-up input-name"
          id="user-name-field"
          type="text"
          name="user-name"
          placeholder="FULL NAME"
        />
        <svg class="form-icon" width="17" height="18">
          <use href="./img/login-sprite.svg#icon-user"></use>
        </svg>
      </div>

      <!-- email -->
      <div class="input-wrap">
        <label class="" for="user-email-filed"></label>
        <input
          class="input-sign-up input-email"
          id="user-email-filed"
          type="email"
          name="user-email"
          placeholder="EMAIL"
        />
        <svg class="form-icon" width="18" height="14">
          <use href="./img/login-sprite.svg#icon-email"></use>
        </svg>
      </div>

      <!-- password -->
      <div class="input-wrap">
        <label class="" for="user-password-field"></label>
        <input
          class="input-sign-up input-password"
          id="user-password-field"
          type="password"
          name="user-password"
          placeholder="PASSWORD"
        />
        <svg class="form-icon icon-lock" width="15" height="19">
          <use href="./img/login-sprite.svg#icon-lock"></use>
        </svg>
        <svg class="icon-password" width="17" height="16">
          <use href="./img/login-sprite.svg#icon-hide-eye"></use>
        </svg>
      </div>

      <button class="btn-sign-up" type="submit">SIGN UP</button>

      <p class="form-text">
        Already Have An Account? <a href="/" class="link-log-in">Log In</a>
      </p>
    </form>
  </div>
</section>
