<section class="customer">
  <div class="container customer-container">
    <h2 class="customer-title"><span>Customer</span> Say</h2>
    <!-- Slider main container -->
    <div class="customer-swiper swiper">
      <!-- Additional required wrapper -->
      <ul class="customer-swiper-wrapper swiper-wrapper">
        <!-- Slides -->
        <li class="customer-swiper-slide swiper-slide">
          <div class="customer-swiper-top">
            <div class="customer-swiper-content">
              <img
                srcset="../img/user-min.png 1x, ../img/user-2x-min.png 2x"
                src="../img/user-min.png"
                alt=""
                class="customer-swiper-img"
              />
              <div class="customer-swiper-content-descr">
                <h3 class="customer-swiper-title">Alexander R.</h3>
                <p class="customer-swiper-subtitle">01 Year With Us</p>
              </div>
            </div>
            <svg class="customer-swiper-icon" width="35" height="26">
              <use href="../img/customer-icons.svg#icon-tic"></use>
            </svg>
          </div>
          <p class="customer-swiper-descr">
            “ Online invoice payment helps companies save time, are faster and
            save maximum effort for the clients and save maximum effort. Online
            invoice payment helps companies save time ”
          </p>
          <svg class="customer-swiper-rate" width="82" height="13">
            <use href="../img/customer-icons.svg#icon-rate"></use>
          </svg>
        </li>
        <li class="customer-swiper-slide swiper-slide">
          <div class="customer-swiper-top">
            <div class="customer-swiper-content">
              <img
                src="../img/user-min.png"
                alt=""
                class="customer-swiper-img"
              />
              <div class="customer-swiper-content-descr">
                <h3 class="customer-swiper-title">Alexander R.</h3>
                <p class="customer-swiper-subtitle">01 Year With Us</p>
              </div>
            </div>
            <svg class="customer-swiper-icon" width="35" height="26">
              <use href="../img/customer-icons.svg#icon-tic"></use>
            </svg>
          </div>
          <p class="customer-swiper-descr">
            “ Online invoice payment helps companies save time, are faster and
            save maximum effort for the clients and save maximum effort. Online
            invoice payment helps companies save time ”
          </p>
          <svg class="customer-swiper-rate" width="82" height="13">
            <use href="../img/customer-icons.svg#icon-rate"></use>
          </svg>
        </li>
        <li class="customer-swiper-slide swiper-slide">
          <div class="customer-swiper-top">
            <div class="customer-swiper-content">
              <img
                src="../img/user-min.png"
                alt=""
                class="customer-swiper-img"
              />
              <div class="customer-swiper-content-descr">
                <h3 class="customer-swiper-title">Alexander R.</h3>
                <p class="customer-swiper-subtitle">01 Year With Us</p>
              </div>
            </div>
            <svg class="customer-swiper-icon" width="35" height="26">
              <use href="../img/customer-icons.svg#icon-tic"></use>
            </svg>
          </div>
          <p class="customer-swiper-descr">
            “ Online invoice payment helps companies save time, are faster and
            save maximum effort for the clients and save maximum effort. Online
            invoice payment helps companies save time ”
          </p>
          <svg class="customer-swiper-rate" width="82" height="13">
            <use href="../img/customer-icons.svg#icon-rate"></use>
          </svg>
        </li>
      </ul>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
