<ul class="dishes-list">
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/food-deskt-1-1x.png 1x,
          ./img/dishes-list/food-deskt-1-2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/dishes-list/food-tabl-1-1x.png 1x,
          ./img/dishes-list/food-tabl-1-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-list-1-1x.png 1x,
          ./img/dishes-list/dishes-list-1-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/food-deskt-1-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg class="dishes-list-icon" width="15px" height="12px">
        <use href="./public/resturents-list.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Chicken Hell</h3>
      <p class="dishes-wrap-prg">
        24min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./public/resturents-list.svg#icon-star"></use>
        </svg>
        4.8
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$12.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/food-deskt-2-1x.png 1x,
          ./img/dishes-list/food-deskt-2-2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/dishes-list/food-tabl-2-1x.png 1x,
          ./img/dishes-list/food-tabl-2-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-list-2-1x.png 1x,
          ./img/dishes-list/dishes-list-2-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/food-deskt-2-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg class="dishes-list-icon" width="15px" height="12px">
        <use href="./public/resturents-list.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Cabbage Rolls</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./public/resturents-list.svg#icon-star"></use>
        </svg>
        4.9
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/food-deskt-3-1x.png 1x,
          ./img/dishes-list/food-deskt-3-2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/dishes-list/food-tabl-3-1x.png 1x,
          ./img/dishes-list/food-tabl-3-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-list-3-1x.png 1x,
          ./img/dishes-list/dishes-list-3-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/food-deskt-3-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg class="dishes-list-icon" width="15px" height="12px">
        <use href="./public/resturents-list.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Swe Dish</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./public/resturents-list.svg#icon-star"></use>
        </svg>
        4.9
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/food-deskt-1-1x.png 1x,
          ./img/dishes-list/food-deskt-1-2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/dishes-list/food-tabl-1-1x.png 1x,
          ./img/dishes-list/food-tabl-1-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-list-1-1x.png 1x,
          ./img/dishes-list/dishes-list-1-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/food-deskt-1-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg class="dishes-list-icon" width="15px" height="12px">
        <use href="./public/resturents-list.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Chicken Hell</h3>
      <p class="dishes-wrap-prg">
        24min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./public/resturents-list.svg#icon-star"></use>
        </svg>
        4.8
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$12.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/food-deskt-2-1x.png 1x,
          ./img/dishes-list/food-deskt-2-2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/dishes-list/food-tabl-2-1x.png 1x,
          ./img/dishes-list/food-tabl-2-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-list-2-1x.png 1x,
          ./img/dishes-list/dishes-list-2-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/food-deskt-2-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg class="dishes-list-icon" width="15px" height="12px">
        <use href="./public/resturents-list.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Swe Dish</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./public/resturents-list.svg#icon-star"></use>
        </svg>
        4.9
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
</ul>
