<ul class="dishes-list">
  <li class="dishes-list-item">
    <img src="../img/dishes-list/dishes-list-1-1x.png" alt="" />
    <svg class="dishes-list-icon" width="15px" height="12px">
      <use href="../public/resturents-list.svg#icon-heart"></use>
    </svg>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Chicken Hell</h3>
      <p class="dishes-wrap-prg">
        24min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="../public/resturents-list.svg#icon-star"></use>
        </svg>
        4.8
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$12.<span>99</span></p>
      <button class="dishes-container-btn">
        <svg width="10px" height="10px">
          <use href="../public/resturents-list.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <img src="../img/dishes-list/dishes-list-2-1x.png" alt="" />
    <svg class="dishes-list-icon" width="15px" height="12px">
      <use href="../public/resturents-list.svg#icon-heart"></use>
    </svg>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Swe Dish</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="../public/resturents-list.svg#icon-star"></use>
        </svg>
        4.9
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn">
        <svg width="10px" height="10px">
          <use href="../public/resturents-list.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <img src="../img/dishes-list/dishes-list-3-1x.png" alt="" />
    <svg class="dishes-list-icon" width="15px" height="12px">
      <use href="../public/resturents-list.svg#icon-heart"></use>
    </svg>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Swe Dish</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="../public/resturents-list.svg#icon-star"></use>
        </svg>
        4.9
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn">
        <svg width="10px" height="10px">
          <use href="../public/resturents-list.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <img src="../img/dishes-list/dishes-list-1-1x.png" alt="" />
    <svg class="dishes-list-icon" width="15px" height="12px">
      <use href="../public/resturents-list.svg#icon-heart"></use>
    </svg>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Chicken Hell</h3>
      <p class="dishes-wrap-prg">
        24min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="../public/resturents-list.svg#icon-star"></use>
        </svg>
        4.8
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$12.<span>99</span></p>
      <button class="dishes-container-btn">
        <svg width="10px" height="10px">
          <use href="../public/resturents-list.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
</ul>
