<section class="section">
  <div class="container">
    <h2 class="questions-title">
      Frequently Asked <span>Questions</span>
      <svg width="30px" height="30px">
        <use href="./img/sprite.svg#icon-Illustration-3"></use>
      </svg>
    </h2>
    <ul class="questions-list js-questions-list">
      <li class="questions-list-item curent">
        <div class="questions-wrap">
          <p>How long does delivery take?</p>
          <button class="questions-open-btn" type="button">
            <svg class="questions-open-icon" width="8px" height="8px">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </div>
        <div class="questions-container js-questions-container">
          <p>
            You Can Get Information By Contacting Our Support Team Have 24/7
            Service. What’s The Difference Between Free And Paid Plan ?
          </p>
        </div>
      </li>
      <li class="questions-list-item curent">
        <div class="questions-wrap">
          <p>How Does It Work ?</p>
          <button class="questions-open-btn" type="button">
            <svg class="questions-open-icon" width="8px" height="8px">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </div>
        <div class="questions-container js-questions-container">
          <p>
            You Can Get Information By Contacting Our Support Team Have 24/7
            Service. What’s The Difference Between Free And Paid Plan ?
          </p>
        </div>
      </li>
      <li class="questions-list-item curent">
        <div class="questions-wrap">
          <p>How does your food delivery service work?</p>
          <button class="questions-open-btn" type="button">
            <svg class="questions-open-icon" width="8px" height="8px">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </div>
        <div class="questions-container js-questions-container">
          <p>
            You Can Get Information By Contacting Our Support Team Have 24/7
            Service. What’s The Difference Between Free And Paid Plan ?
          </p>
        </div>
      </li>
      <li class="questions-list-item curent">
        <div class="questions-wrap">
          <p>What payment options do you accept?</p>
          <button class="questions-open-btn" type="button">
            <svg class="questions-open-icon" width="8px" height="8px">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </div>
        <div class="questions-container js-questions-container">
          <p>
            You Can Get Information By Contacting Our Support Team Have 24/7
            Service. What’s The Difference Between Free And Paid Plan ?
          </p>
        </div>
      </li>
      <li class="questions-list-item curent">
        <div class="questions-wrap">
          <p>Do you offer discounts or promotions?</p>
          <button class="questions-open-btn" type="button">
            <svg class="questions-open-icon" width="8px" height="8px">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </div>
        <div class="questions-container js-questions-container">
          <p>
            You Can Get Information By Contacting Our Support Team Have 24/7
            Service. What’s The Difference Between Free And Paid Plan ?
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
