<header>
  <div class="container">
    <div class="header-box">
      <a href="./index.html" class="header-logo">
        <svg width="45" height="45">
          <use href="/img/sprite.svg#icon-Logo-eatly"></use>
        </svg>
        eatly
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="./menu.html">Menu</a></li>
        <li class="header-nav-item"><a href="./blog.html">Blog</a></li>
        <li class="header-nav-item"><a href="./pricing.html">Pricing</a></li>
        <li class="header-nav-item"><a href="./contact-us.html">Contact</a></li>
      </ul>
      <ul class="header-login">
        <li>
          <button type="button" class="header-basket-btn" id="openBasket">
            <svg  width="31" height="22">
               <use href="./img/sprite.svg#icon-basket"></use>
            </svg>
            <p id="quantity">0</p>
          </button>
        </li>
        <li><a href="./sign-in.html" class="header-login-item">Login</a></li>
        <li><a href="./sign-up.html" class="header-login-item signup">Sign Up</a></li>
      </ul>
      <a href="" class="header-menu">
        <svg width="31" height="22">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </a>
      </a>
    </div>
  </div>
</header>
