<header class="header">
  <div class="container">
    <div class="header-box js-header-box">
      <div class="header-box-top">
        <a href="./index.html" class="header-logo">
          <svg width="45" height="45">
            <use href="/img/sprite.svg#icon-Logo-eatly"></use>
          </svg>
          eatly
        </a>
        <ul class="header-nav-list">
          <li class="header-nav-item"><a href="./menu.html">Menu</a></li>
          <li class="header-nav-item"><a href="./blog.html">Blog</a></li>
          <li class="header-nav-item"><a href="./pricing.html">Pricing</a></li>
          <li class="header-nav-item">
            <a href="./contact-us.html">Contact</a>
          </li>
        </ul>
      </div>
      <div class="header-box-bottom">
        <button type="button" class="header-basket-btn" id="openBasket">
          <svg width="31" height="22">
            <use href="./img/sprite.svg#icon-basket"></use>
          </svg>
          <p id="quantity">0</p>
        </button>
        <ul class="header-login js-list-login">
          <li><a href="./sign-in.html" class="header-login-item">Login</a></li>
          <li>
            <a href="./sign-up.html" class="header-login-item signup"
              >Sign Up</a
            >
          </li>
        </ul>
        <div class="header-user-wrap js-header-user-wrap">
          <div class="header-user-icon">
            <svg width="40px" height="40px">
              <use href="./img/sprite.svg#icon-user"></use>
            </svg>
          </div>
          <p class="header-user-text js-header-user-text">User name</p>
          <div class="header-user-opt-cont js-header-user-opt-cont">
            <ul class="header-user-list">
              <li>Profile</li>
              <li>History</li>
              <li>Settings</li>
              <li>Exit</li>
            </ul>
          </div>
        </div>
        <button class="header-menu js-header-menu-open" type="button">
          <svg width="31" height="22">
            <use href="/img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="header-menu-wrap js-header-menu-wrap">
    <button type="button" class="basket-close-btn js-header-menu-close">
      <svg width="10px" height="10px">
        <use href="./img/sprite.svg#icon-close-order"></use>
      </svg>
    </button>
    <ul class="header-menu-list js-header-menu-list">
      <li><a href="./menu.html" class="js-header-guide">Menu</a></li>
      <li><a href="./blog.html" class="js-header-guide">Blog</a></li>
      <li><a href="./pricing.html" class="js-header-guide">Pricing</a></li>
      <li><a href="./contact-us.html" class="js-header-guide">Contact</a></li>
    </ul>
    <ul class="header-menu-login js-list-login">
      <li><a href="./sign-in.html" class="header-menu-login-item">Login</a></li>
      <li>
        <a href="./sign-up.html" class="header-menu-login-item signup"
          >Sign Up</a
        >
      </li>
    </ul>
    <div class="header-menu-user-wrap js-header-user-wrap">
      <div class="header-user-icon">
        <svg width="40px" height="40px">
          <use href="./img/sprite.svg#icon-user"></use>
        </svg>
      </div>
      <p class="header-user-text js-header-user-text">User name</p>
      <div class="header-user-opt-cont js-header-user-opt-cont">
        <ul class="header-user-list">
          <li>Profile</li>
          <li>History</li>
          <li>Settings</li>
          <li>Exit</li>
        </ul>
      </div>
    </div>
    <ul class="header-social-list">
      <li class="footer-social-item">
        <a target="_blank" href="" class="footer-social-links">
          <svg class="footer-social-links-icon" width="16" height="16">
            <use href="/img/sprite.svg#icon-instagram-footer"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a target="_blank" href="" class="footer-social-links">
          <svg class="footer-social-links-icon" width="16" height="16">
            <use href="/img/sprite.svg#icon-linkedin-footer"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a target="_blank" href="" class="footer-social-links">
          <svg class="footer-social-links-icon" width="16" height="16">
            <use href="/img/sprite.svg#icon-facebook-footer"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a target="_blank" href="" class="footer-social-links">
          <svg class="footer-social-links-icon" width="16" height="16">
            <use href="/img/sprite.svg#icon-twitter-footer"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
