<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Hero</h2>
    <ul class="hero-list">
      <li class="hero-item">
        <h3 class="hero-item-title">10K+</h3>
        <p class="hero-item-text">
          Satisfied Costumers All Great Over The World
        </p>
      </li>
      <li class="hero-item">
        <h3 class="hero-item-title">4M</h3>
        <p class="hero-item-text">
          Healthy Dishes Sold Including Milk Shakes Smooth
        </p>
      </li>
      <li class="hero-item">
        <h3 class="hero-item-title">99.99%</h3>
        <p class="hero-item-text">
          Reliable Customer Support We Provide Great Experiences
        </p>
      </li>
    </ul>
  </div>
</section>
