<section class="section">
  <div class="container">
    <h2 class="latest-articles-title">Latest <span>Articles</span></h2>
    <ul class="latest-articles-list">
      <li class="latest-articles-item">
        <picture>
          <source
            srcset="
              ./img/dishes-list/food-deskt-1-1x.png 1x,
              ./img/dishes-list/food-deskt-1-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/dishes-list/food-tabl-1-1x.png 1x,
              ./img/dishes-list/food-tabl-1-2x.png 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/dishes-list/dishes-list-1-1x.png 1x,
              ./img/dishes-list/dishes-list-1-2x.png 2x
            "
            media="(max-width: 1023px)"
          />
          <img
            class="latest-articles-img"
            src="./img/dishes-list/food-deskt-1-2x.png"
            alt="latest articles img"
          />
        </picture>
        <h3 class="latest-articles-questions">How To Manage Cards ?</h3>
        <div class="latest-articles-wrap">
          <img
            srcset="
              ./img/latest-articles/user-1x.png 1x,
              ./img/latest-articles/user-2x.png 2x
            "
            alt="user"
            width="30px"
            height="30px"
          />
          <div>
            <p class="latest-articles-written">Written By</p>
            <p class="latest-articles-autor">Perperzon</p>
          </div>
          <p class="latest-articles-date">15 DEC, 2022</p>
        </div>
      </li>
      <!-- <li class="latest-articles-error">
        <p class="latest-articles-error-number">404 <span>Not Found</span></p>
        <p class="latest-articles-error-text">
          Oops, an error occurred, unable to retrieve data from the server. We
          apologize
        </p>
      </li> -->
    </ul>
    <button class="latest-articles-more" type="button">Load more</button>
  </div>
</section>
