<section class="section">
  <div class="container">
    <h2 class="latest-articles-title">Latest <span>Articles</span></h2>
    <ul class="latest-articles-list latest-articles-list-js">
      <li><span class="loader"></span></li>
    </ul>
    <div
      class="latest-articles-backdrop latest-articles-backdrop-js"
      style="display: none"
    ></div>
    <div
      class="latest-articles-answer latest-articles-answer-js"
      style="display: none"
    >
      <h3 class="latest-articles-questions">Top 5 Business Ideas</h3>
      <p class="latest-articles-date">
        Once you're logged in, you can browse through the list of available
        restaurants on the Eatly website. You can filter by cuisine, price, and
        distance to find the perfect restaurant for your needs. Click on a
        restaurant to view its menu. Once you're logged in, you can browse
        through the list of available restaurants on the Eatly website. You can
        filter by cuisine, price, and distance.
      </p>
      <button class="latest-answer-btn latest-answer-btn-js" type="button">
        <svg width="8px" height="8px">
          <use href="./img/sprite.svg#icon-close-order"></use>
        </svg>
      </button>
    </div>
    <button class="latest-articles-more latest-articles-more-js" type="button">
      Load more
    </button>
  </div>
</section>
