<ul class="menu-list">
  <li class="menu-list-item">
    <img src="./img/menu-list/menu-list-1-1x.jpg" alt="" />
    <div class="menu-list-wrap">
      <div>
        <p class="menu-list-text">Healthy</p>
        <h3 class="menu-list-title">The Chicken King</h3>
        <p class="menu-list-prg">
          24min •
          <svg class="menu-list-star" width="16px" height="16px">
            <use href="./public/resturents-list.svg#icon-star"></use>
          </svg>
          4.8
        </p>
      </div>
      <button class="menu-list-btn">
        <svg width="12px" height="16px">
          <use href="./public/resturents-list.svg#icon-book"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="menu-list-item">
    <img src="./img/menu-list/menu-list-2-1x.jpg" alt="" />
    <div class="menu-list-wrap">
      <div>
        <p class="menu-list-text">Trending</p>
        <h3 class="menu-list-title">The Burger King</h3>
        <p class="menu-list-prg">
          24min •
          <svg class="menu-list-star" width="16px" height="16px">
            <use href="./public/resturents-list.svg#icon-star"></use>
          </svg>
          4.9
        </p>
      </div>
      <button class="menu-list-btn">
        <svg width="12px" height="16px">
          <use href="./public/resturents-list.svg#icon-book"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="menu-list-item">
    <img src="./img/menu-list/menu-list-2-1x.jpg" alt="" />
    <div class="menu-list-wrap">
      <div>
        <p class="menu-list-text">Trending</p>
        <h3 class="menu-list-title">The Burger King</h3>
        <p class="menu-list-prg">
          24min •
          <svg class="menu-list-star" width="16px" height="16px">
            <use href="./public/resturents-list.svg#icon-star"></use>
          </svg>
          4.9
        </p>
      </div>
      <button class="menu-list-btn">
        <svg width="12px" height="16px">
          <use href="./public/resturents-list.svg#icon-book"></use>
        </svg>
      </button>
    </div>
  </li>
</ul>
