<ul class="menu-list">
  <li class="menu-list-item">
    <picture>
      <source
        srcset="./img/menu-list/Image-deskt-1.jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/menu-list/Image-tabl-1.jpg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="./img/menu-list/Image-mob-1.jpg"
        media="(max-width: 1023px)"
      />
      <img src="./img/menu-list/Image-deskt-1.jpg" alt="menu" />
    </picture>
    <div class="menu-list-wrap">
      <div>
        <p class="menu-list-text">Healthy</p>
        <h3 class="menu-list-title">The Chicken King</h3>
        <p class="menu-list-prg">
          24min •
          <svg class="menu-list-star" width="16px" height="16px">
            <use href="./public/resturents-list.svg#icon-star"></use>
          </svg>
          4.8
        </p>
      </div>
      <button class="menu-list-btn">
        <svg width="12px" height="15px">
          <use href="./public/resturents-list.svg#icon-book"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="menu-list-item">
    <picture>
      <source
        srcset="./img/menu-list/Image-deskt-2.jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/menu-list/Image-tabl-2.jpg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="./img/menu-list/Image-mob-2.jpg"
        media="(max-width: 1023px)"
      />
      <img src="./img/menu-list/Image-deskt-2.jpg" alt="menu" />
    </picture>
    <div class="menu-list-wrap">
      <div>
        <p class="menu-list-text">Trending</p>
        <h3 class="menu-list-title">The Burger King</h3>
        <p class="menu-list-prg">
          24min •
          <svg class="menu-list-star" width="16px" height="16px">
            <use href="./public/resturents-list.svg#icon-star"></use>
          </svg>
          4.9
        </p>
      </div>
      <button class="menu-list-btn">
        <svg width="12px" height="15px">
          <use href="./public/resturents-list.svg#icon-book"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="menu-list-item">
    <picture>
      <source
        srcset="./img/menu-list/Image-deskt-3.jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/menu-list/Image-tabl-3.jpg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="./img/menu-list/Image-mob-3.jpg"
        media="(max-width: 1023px)"
      />
      <img src="./img/menu-list/Image-deskt-3.jpg" alt="menu" />
    </picture>
    <div class="menu-list-wrap">
      <div>
        <p class="menu-list-text">Trending</p>
        <h3 class="menu-list-title">The Burger King</h3>
        <p class="menu-list-prg">
          24min •
          <svg class="menu-list-star" width="16px" height="16px">
            <use href="./public/resturents-list.svg#icon-star"></use>
          </svg>
          4.9
        </p>
      </div>
      <button class="menu-list-btn">
        <svg width="12px" height="15px">
          <use href="./public/resturents-list.svg#icon-book"></use>
        </svg>
      </button>
    </div>
  </li>
</ul>
