<div class="backrop">
  <div class="model-order">
    <button
      type="button"
      class="order-close-wrap close-btn-js"
      id="closeBackrop"
    >
      <svg width="10px" height="10px">
        <use href="./img/sprite.svg#icon-close-order"></use>
      </svg>
    </button>
    <form class="order-form" action="">
      <input
        class="model-order-input"
        type="text"
        placeholder="Enter NAME"
        required
      />
      <input
        class="model-order-input"
        type="text"
        placeholder="Enter EMAIL"
        required
      />
      <input
        class="model-order-input"
        type="text"
        placeholder="Enter ADRESS"
        required
      />
    </form>
    <div class="model-order-container">
      <div class="order-wrap">
        <div class="order-wrap-name">
          <p class="order-wrap-text">Product name:</p>
          <p class="order-wrap-variables" id="product">product*</p>
        </div>
        <ul class="order-list-price">
          <li>
            <p class="order-wrap-text">Number:</p>
            <p class="order-wrap-variables" id="numberProduct">1</p>
          </li>
          <li>
            <p class="order-wrap-text">Price:</p>
            <p class="order-wrap-variables" id="priceProduct">0</p>
          </li>
        </ul>
        <div class="order-wrap-button">
          <button class="order-wrap-btn" type="button" id="minusProduct">
            <svg width="10px" height="10px">
              <use href="./img/sprite.svg#icon-minus"></use>
            </svg>
          </button>
          <button class="order-wrap-btn" type="button" id="plusProduct">
            <svg width="10px" height="10px">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </div>
      </div>
      <picture id="imgProduct" class="model-img">
        <img src="./img/dishes-list/food-deskt-2-1x.png" alt="menu" />
      </picture>
      <div class="model-delete">
        <button type="button" class="button-open-delete" id="buttonOpenDelete">
          <svg width="16px" height="20px">
            <use href="./img/sprite.svg#icon-menu-bar"></use>
          </svg>
        </button>
        <div class="delete-wrap">
          <button type="button">
            <svg width="16px" height="30px">
              <use href="./img/sprite.svg#icon-dump"></use>
            </svg>
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="order-container">
      <button class="button-basket target-btn" type="button">
        Continue Shopping
      </button>
      <button class="button-order" type="button">Order</button>
    </div>
  </div>
</div>
