<div class="backrop">
  <div class="model-order">
    <button type="button" class="basket-close-btn" id="closeBackrop">
      <svg width="10px" height="10px">
        <use href="./img/sprite.svg#icon-close-order"></use>
      </svg>
    </button>
    <form class="order-form" action="" id="orderForm">
      <input
        class="model-order-input"
        type="text"
        name="nameUser"
        placeholder="Enter NAME"
        required
      />
      <input
        class="model-order-input"
        type="email"
        name="mailUser"
        placeholder="Enter EMAIL"
        required
      />
      <input
        class="model-order-input"
        type="text"
        name="addrUser"
        placeholder="Enter ADRESS"
        required
      />
    </form>
    <div class="model-order-container">
      <picture id="imgProduct" class="model-img">
        <img src="./img/dishes-list/food-deskt-2-1x.png" alt="menu" />
      </picture>
      <div class="order-wrap">
        <div class="order-wrap-name">
          <p class="order-wrap-variables" id="product">product*</p>
          <p class="order-wrap-variables" id="priceForOneProd">$00.00</p>
        </div>
        <div class="order-wrap-button">
          <button
            class="order-wrap-btn order-wrap-btn-minus"
            type="button"
            id="minusProduct"
          >
            <svg width="7px" height="7px">
              <use href="./img/sprite.svg#icon-minus"></use>
            </svg>
          </button>
          <p
            class="order-wrap-variables order-wrap-variables-num"
            id="numberProduct"
          >
            1
          </p>
          <button class="order-wrap-btn" type="button" id="plusProduct">
            <svg width="7px" height="7px">
              <use href="./img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <p
            class="order-wrap-variables order-wrap-variables-price"
            id="priceProduct"
          >
            0
          </p>
        </div>
      </div>
      <div class="model-delete">
        <button type="button" class="button-open-delete" id="buttonOpenDelete">
          <svg width="16px" height="20px">
            <use href="./img/sprite.svg#icon-menu-bar"></use>
          </svg>
        </button>
        <div class="delete-wrap">
          <button class="delete-wrap-btn" type="button">
            <svg width="16px" height="30px">
              <use href="./img/sprite.svg#icon-dump"></use>
            </svg>
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="order-container">
      <button class="button-basket target-btn" type="button">
        Continue Shopping
      </button>
      <button class="button-order" type="submit" form="orderForm">
        To Order
      </button>
    </div>
  </div>
</div>
