<section class="section">
  <div class="container">
    <ul class="plans-list">
      <li class="plans-list-item">
        <h3 class="plans-list-title">Basic</h3>
        <p class="plans-list-price"><span>$</span>0<span>/month</span></p>
        <p class="plans-list-text">Completely 100% Free Plan</p>
        <button class="plans-list-start" type="button">start free</button>
        <p class="plans-list-prg">
          <button type="button" class="ac-trigger" id="ac-trigger-1">
            See features
            <svg class="plans-list-dropdown" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
            </svg>
          </button>
        </p>
        <ul class="plans-list-panel ac-panel" id="ac-panel-1">
          <li>
            <svg width="19" height="19">
              <use href="./img/sprite.svg#icon-tick"></use>
            </svg>
            <p>Support 24/7</p>
          </li>
          <li>
            <svg width="19" height="19">
              <use href="./img/sprite.svg#icon-tick"></use>
            </svg>
            <p>Fast Delivery</p>
          </li>
          <li>
            <svg></svg>
            <p>20% Off Food Deals</p>
          </li>
          <li>
            <svg width="19" height="19">
              <use href="./img/sprite.svg#icon-tick"></use>
            </svg>
            <p>Transaction History</p>
          </li>
        </ul>
      </li>
      <li class="plans-list-item">
        <h3 class="plans-list-title">Premium</h3>
        <p class="plans-list-price"><span>$</span>9<span>/month</span></p>
        <p class="plans-list-text">Amazing Premium Features Plan</p>
        <button class="plans-list-start" type="button">start Pro</button>
        <p class="plans-list-prg">
          <button type="button" class="ac-trigger" id="ac-trigger-2">
            See features
            <svg class="plans-list-dropdown" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
            </svg>
          </button>
        </p>
        <ul class="plans-list-panel ac-panel" id="ac-panel-2">
          <li>
            <svg width="19" height="19">
              <use href="./img/sprite.svg#icon-tick"></use>
            </svg>
            <p>Support 24/7</p>
          </li>
          <li>
            <svg width="19" height="19">
              <use href="./img/sprite.svg#icon-tick"></use>
            </svg>
            <p>Fast Delivery</p>
          </li>
          <li>
            <svg></svg>
            <p>20% Off Food Deals</p>
          </li>
          <li>
            <svg width="19" height="19">
              <use href="./img/sprite.svg#icon-tick"></use>
            </svg>
            <p>Transaction History</p>
          </li>
          <li>
            <svg width="19" height="19">
              <use href="./img/sprite.svg#icon-tick"></use>
            </svg>
            <p>Weekend Deals</p>
          </li>
          <li>
            <svg width="19" height="19">
              <use href="./img/sprite.svg#icon-tick"></use>
            </svg>
            <p>Dashboard Access</p>
          </li>
          <li>
            <svg width="19" height="19">
              <use href="./img/sprite.svg#icon-tick"></use>
            </svg>
            <p>Premium Group Access</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
