<section class="section">
  <div class="container">
    <ul class="plans-list">
      <li class="plans-list-item">
        <h3 class="plans-list-title">Basic</h3>
        <p class="plans-list-price"><span>$</span>0<span>/month</span></p>
        <div class="plans-list-line"></div>
        <p class="plans-list-text">Completely 100% Free Plan</p>
        <button class="plans-list-start" type="button">start free</button>
        <div class="accordion-container">
          <div class="ac-wrap ac">
            <p class="plans-list-prg ac-header">
              <button type="button" class="plans-drop-btn ac-trigger">
                See features
                <svg class="plans-list-dropdown" width="10" height="8">
                  <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
                </svg>
              </button>
            </p>
            <div class="ac-panel">
              <ul class="plans-list-panel">
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>Support 24/7</p>
                </li>
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>Fast Delivery</p>
                </li>
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>20% Off Food Deals</p>
                </li>
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>Transaction History</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="plans-list-item">
        <h3 class="plans-list-title">Premium</h3>
        <p class="plans-list-price"><span>$</span>9<span>/month</span></p>
        <div class="plans-list-line"></div>
        <p class="plans-list-text">Amazing Premium Features Plan</p>
        <button class="plans-list-start" type="button">start Pro</button>
        <div class="accordion-container-seccond">
          <div class="ac-wrap ac">
            <p class="plans-list-prg ac-header">
              <button type="button" class="plans-drop-btn ac-trigger">
                See features
                <svg class="plans-list-dropdown" width="10" height="8">
                  <use href="./img/sprite.svg#icon-arrow-dropdown"></use>
                </svg>
              </button>
            </p>
            <div class="ac-panel">
              <ul class="plans-list-panel">
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>Support 24/7</p>
                </li>
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>Fast Delivery</p>
                </li>
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>20% Off Food Deals</p>
                </li>
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>Transaction History</p>
                </li>
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>Weekend Deals</p>
                </li>
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>Dashboard Access</p>
                </li>
                <li>
                  <svg width="19" height="19">
                    <use href="./img/sprite.svg#icon-tick"></use>
                  </svg>
                  <p>Premium Group Access</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="plans-wrap">
      <ul class="plans-wrap-list-headlines">
        <li>
          <h3 class="plans-wrap-headlines-title">Pricing</h3>
          <p class="plans-wrap-headlines-text">Affordable Basic & Pro Plans</p>
        </li>
        <li>
          <h3 class="plans-wrap-headlines-title">Basic</h3>
          <p class="plans-wrap-headlines-text">Completely 100% Free Plan</p>
        </li>
        <li>
          <h3 class="plans-wrap-headlines-title">Premium</h3>
          <p class="plans-wrap-headlines-text">Amazing Premium Features Plan</p>
        </li>
      </ul>
      <div class="plans-wrap-line"></div>
      <ul class="plans-wrap-list-price">
        <li>
          <p class="plans-wrap-price-prg"><span>$</span>0<span>/month</span></p>
        </li>
        <li>
          <p class="plans-wrap-price-prg"><span>$</span>9<span>/month</span></p>
        </li>
      </ul>
      <div class="plans-wrap-line"></div>
      <ul class="plans-wrap-list-features">
        <li>
          <p class="plans-wrap-prg">Core features</p>
        </li>
        <li>
          <p class="plans-wrap-features-prg">Support 24/7</p>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
        </li>
        <li>
          <p class="plans-wrap-features-prg">Fast Delivery</p>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
        </li>
        <li>
          <p class="plans-wrap-features-prg">20% Off Food Deals</p>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
        </li>
        <li>
          <p class="plans-wrap-features-prg">Transaction History</p>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
        </li>
        <li>
          <p class="plans-wrap-features-prg">Weekend Deals</p>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-cross"></use>
          </svg>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
        </li>
        <li>
          <p class="plans-wrap-features-prg">Dashboard Access</p>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-cross"></use>
          </svg>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
        </li>
        <li>
          <p class="plans-wrap-features-prg">Premium Group Access</p>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-cross"></use>
          </svg>
          <svg class="plans-wrap-features-icon" width="19" height="19">
            <use href="./img/sprite.svg#icon-tick"></use>
          </svg>
        </li>
      </ul>
      <div class="plans-wrap-line"></div>
      <div class="plans-wrap-buttons">
        <button type="button">start free</button
        ><button type="button">start pro</button>
      </div>
    </div>
  </div>
</section>
