<section class="section">
  <div class="container">
    <load src="partials/menu-list.html" />
    <h2 class="pizza-title">Popular 🔥</h2>
    <load src="partials/dishes-list.html" />
    <ul class="popular-list">
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/dishes-tabl-4-1x.png 1x,
          ./img/dishes-list/dishes-tabl-4-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-mob-4-1x.png 1x,
          ./img/dishes-list/dishes-mob-4-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/dishes-mob-4-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID6"
      >
       <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Grilled Shrimp</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.9
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$10.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/dishes-tabl-7-1x.png 1x,
          ./img/dishes-list/dishes-tabl-7-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-mob-7-1x.png 1x,
          ./img/dishes-list/dishes-mob-7-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/dishes-tabl-7-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID7"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Fresh Salad</h3>
      <p class="dishes-wrap-prg">
        17min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
         <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.8
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$11.<span>45</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/dishes-tabl-8-1x.png 1x,
          ./img/dishes-list/dishes-tabl-8-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-mob-8-1x.png 1x,
          ./img/dishes-list/dishes-mob-8-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/dishes-tabl-8-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID8"
      >
       <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Sliced Spring </h3>
      <p class="dishes-wrap-prg">
        38min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
         <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.7
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <picture>
       <picture>
      <source
        srcset="
          ./img/dishes-list/dishes-tabl-6-1x.png 1x,
          ./img/dishes-list/dishes-tabl-6-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-mob-6-1x.png 1x,
          ./img/dishes-list/dishes-mob-6-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/dishes-tabl-6-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID9"
      >
      <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Baked Dill</h3>
      <p class="dishes-wrap-prg">
        21min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
        <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.7
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$21.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/dishes-tabl-10-1x.png 1x,
          ./img/dishes-list/dishes-tabl-10-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-mob-10-1x.png 1x,
          ./img/dishes-list/dishes-mob-10-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/dishes-tabl-10-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID10"
      >
     <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Garlic-Infused </h3>
      <p class="dishes-wrap-prg">
        15min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.8
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$16.<span>80</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
     <picture>
      <source
        srcset="
          ./img/dishes-list/dishes-tabl-9-1x.png 1x,
          ./img/dishes-list/dishes-tabl-9-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-mob-9-1x.png 1x,
          ./img/dishes-list/dishes-mob-9-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/dishes-tabl-9-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID11"
      >
     <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Baked Spicy</h3>
      <p class="dishes-wrap-prg">
        45min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.4
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$21.<span>45</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <picture>
      <source
        srcset="
          ./img/dishes-list/dishes-tabl-5-1x.png 1x,
          ./img/dishes-list/dishes-tabl-5-2x.png 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/dishes-list/dishes-mob-5-1x.png 1x,
          ./img/dishes-list/dishes-mob-5-2x.png 2x
        "
        media="(max-width: 1023px)"
      />
      <img src="./img/dishes-list/dishes-tabl-5-2x.png" alt="menu" />
    </picture>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID12"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Sauteed Beef</h3>
      <p class="dishes-wrap-prg">
        39min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.5
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$15.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
</ul>
<h2 class="pizza-title">Pizza
  <svg width="25px" height="25px">
    <use href="./img/sprite.svg#icon-pizza"></use>
  </svg>
</h2>
   <ul class="popular-list">
  <li class="dishes-list-item">
   <div><img src="./img/dishes-list/pizza/img-1.png" alt=""></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID13"
      >
       <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Capriciosa</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.9
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$23.<span>00</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <div><img src="./img/dishes-list/pizza/img-2.png" alt=""></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID14"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Neopolitan</h3>
      <p class="dishes-wrap-prg">
        35min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.6
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$11.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
   <div><img src="./img/dishes-list/pizza/img-3.png" alt=""></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID15"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Mafioso</h3>
      <p class="dishes-wrap-prg">
        19min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.7
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <div><img src="./img/dishes-list/pizza/img-4.png" alt=""></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID16"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Roma</h3>
      <p class="dishes-wrap-prg">
        31min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.6
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$17.<span>45</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
 <div><img src="./img/dishes-list/pizza/img-5.png" alt=""></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID17"
      >
         <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Tonno</h3>
      <p class="dishes-wrap-prg">
        18min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.8
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$21.<span>25</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <div><img src="./img/dishes-list/pizza/img-6.png" alt=""></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID18"
      >
         <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Spinaci</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.4
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$13.<span>80</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <div><img src="./img/dishes-list/pizza/img-7.png" alt=""></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID19"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Rustica</h3>
      <p class="dishes-wrap-prg">
        39min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.7
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$16.<span>50</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
   <div><img src="./img/dishes-list/pizza/img-8.png" alt=""></div> 
      <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID20"
      >
         <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Salami</h3>
      <p class="dishes-wrap-prg">
        15min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.6
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <div><img src="./img/dishes-list/pizza/img-9.png" alt=""></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID21"
      >
         <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Howaiian</h3>
      <p class="dishes-wrap-prg">
        41min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.5
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$14.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
   <div> <img src="./img/dishes-list/pizza/img-10.png" alt=""></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID22"
      >
         <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Vege</h3>
      <p class="dishes-wrap-prg">
        21min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
         <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.7
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$13.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
</ul>
<h2 class="pizza-title">Donat
  <svg width="25px" height="25px">
    <use href="./img/sprite.svg#icon-donat"></use>
  </svg>
</h2>
<ul class="popular-list">
  <li class="dishes-list-item">
      <div><img src="./img/dishes-list/donut/img-3.png" alt="donut"></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID23"
      >
         <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Marshmallow</h3>
      <p class="dishes-wrap-prg">
        19min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.7
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
      <div><img src="./img/dishes-list/donut/img-4.png" alt="donut"></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID24"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Speculoos</h3>
      <p class="dishes-wrap-prg">
        31min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
         <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.6
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$17.<span>45</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
   <li class="dishes-list-item">
    <div><img src="./img/dishes-list/donut/img-2.png" alt="donut"></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID25"
      >
         <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Coco</h3>
      <p class="dishes-wrap-prg">
        35min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.6
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$11.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
    <li class="dishes-list-item">
     <div><img src="./img/dishes-list/donut/img-6.png" alt="donut"></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID26"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Sucre</h3>
      <p class="dishes-wrap-prg">
        21min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.7
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$13.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
   <div><img src="./img/dishes-list/donut/img-1.png" alt="donut"></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID27"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Pistache</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
        <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.9
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$23.<span>00</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
    <div><img src="./img/dishes-list/donut/img-5.png" alt="donut"></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID28"
      >
       <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Milka</h3>
      <p class="dishes-wrap-prg">
        18min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.8
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$21.<span>25</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
       <div><img src="./img/dishes-list/donut/img-6.png" alt="donut"></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID29"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Trending</p>
      <h3 class="dishes-wrap-title">Banane</h3>
      <p class="dishes-wrap-prg">
        34min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.4
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$13.<span>80</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
     <div><img src="./img/dishes-list/donut/img-7.png" alt="donut"></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID30"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Fourre caramel</h3>
      <p class="dishes-wrap-prg">
        39min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.7
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$16.<span>50</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
     <div><img src="./img/dishes-list/donut/img-8.png" alt="donut"></div>
      <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID31"
      >
       <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Healthy</p>
      <h3 class="dishes-wrap-title">Fraise</h3>
      <p class="dishes-wrap-prg">
        15min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
         <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.6
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$19.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
  <li class="dishes-list-item">
      <div><img src="./img/dishes-list/donut/img-3.png" alt="donut"></div>
    <a class="dishes-list-heart-link">
      <svg
        class="dishes-list-icon"
        width="18px"
        height="18px"
        style="fill: #ffffff"
        id="heardIconID32"
      >
        <use href="./img/sprite.svg#icon-heart"></use>
      </svg>
    </a>
    <div class="dishes-list-wrap">
      <p class="dishes-wrap-text">Supreme</p>
      <h3 class="dishes-wrap-title">Confetti</h3>
      <p class="dishes-wrap-prg">
        41min •
        <svg class="dishes-wrap-star" width="10px" height="10px">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        4.5
      </p>
    </div>
    <div class="dishes-list-container">
      <p class="dishes-container-text">$14.<span>99</span></p>
      <button class="dishes-container-btn" id="openBackrop">
        <svg width="10px" height="10px">
          <use href="./img/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </li>
</ul>
  </div>
</section>
