<section class="section quality-section">
  <div class="container quality-container">
    <div class="quality-content">
      <h2 class="quality-name">Premium <span class="quality-selection">Quality</span> For Your Health</h2>
      <ul class="quality-item">
        <li class="quality-list">Premium quality food is made with ingredients that are packed with essential vitamins,
          minerals.</li>
        <li class="quality-list">These foods promote overall wellness by support healthy digestion and boosting immunit
        </li>
      </ul>
      <button type="submit" class="quality-btn">Download
        <svg class="quality-btn-icon" width="18" height="18">
          <use href="/img/quality/svg/icon-arrow-right.svg"></use>
        </svg>
      </button>
      <svg class="quality-spiral-icon">
        <use href="/img/quality/svg/icon-vector.svg" width="57" height="101"></use>
      </svg>
    </div>
    <div class="quality-img">
      <img srcset="/img/quality/mob1x.png 1x, /img/quality/mob2x.png 2x" alt="quality" src="../img/quality/mob1x.png">
      <svg class="quality-mob-icon">
        <use href="/img/quality/svg/icon-Illustration.svg" width="29" height="35"></use>
      </svg>
    </div>
  </div>
</section>