<section class="section curent quality-section">
  <div class="container quality-container">
    <div class="quality-content" data-aos="flip-right">
      <h2 class="quality-name">
        Premium <span class="quality-selection">Quality</span> For Your Health
      </h2>
      <ul class="quality-list">
        <li class="quality-item">
          <p>
            Premium quality food is made with ingredients that are packed with
            essential vitamins, minerals.
          </p>
        </li>
        <li class="quality-item">
          <p>
            These foods promote overall wellness by support healthy digestion
            and boosting immunit
          </p>
        </li>
      </ul>
      <button type="submit" class="quality-btn">
        Download
        <svg width="17px" height="17px">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <svg class="quality-spiral-icon" width="100px" height="100px">
        <use href="./img/sprite.svg#icon-spiral-arrow"></use>
      </svg>
    </div>
    <div class="quality-img" data-aos="fade-left">
      <picture>
        <source
          srcset="
            ./img/quality/img-deskt-1x.png 1x,
            ./img/quality/img-deskt-2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/quality/img-tabl-1x.png 1x,
            ./img/quality/img-tabl-2x.png 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="/img/quality/mob1x.png 1x, /img/quality/mob2x.png 2x"
          media="(max-width: 1023px)"
        />
        <img src="./img/quality/img-deskt-2x.png " alt="quality" />
      </picture>
      <svg class="quality-illustration-icon" width="30px" height="34px">
        <use href="./img/sprite.svg#icon-Illustration-3"></use>
      </svg>
    </div>
  </div>
</section>
