<section class="section">
  <div class="container">
    <h2>Our Top <span>Restaurants</span></h2>
    <load src="partials/menu-list.html" />
    <a href="./menu.html"
      >View All
      <svg widht="16px" height="16px">
        <use href=""></use>
      </svg>
    </a>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2>Our Top Restaurants</h2>
    <load src="partials/dishes-list.html" />
    <a href="./menu.html"
      >View All
      <svg widht="16px" height="16px">
        <use href=""></use>
      </svg>
    </a>
  </div>
</section>
