<section class="section curent">
  <div class="container">
    <h2 class="resturents-list-title">Our Top <span>Restaurants</span></h2>
    <load src="partials/menu-list.html" />
    <a class="resturents-list-link" href="./menu.html"
      >View All
      <svg width="16px" height="16px">
        <use href="./img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
<section class="section curent">
  <div class="container">
    <h2 class="resturents-list-title">Our Top <span>Dishes</span></h2>
    <load src="partials/dishes-list.html" />
    <a class="resturents-list-link" href="./menu.html"
      >View All
      <svg width="16px" height="16px">
        <use href="./img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
