<section class="section">
  <div class="container">
    <div class="contact-wrap">
      <svg class="contact-wrap-icon" width="100" height="86">
        <use href="./img/sprite.svg#icon-spiral-arrow"></use>
      </svg>
      <h2 class="contact-wrap-title">Contact Us</h2>
    </div>
    <div class="contact-wrapper">
      <h3 class="contact-wrapper-title">Customer <span>Support</span></h3>
      <form class="contact-form">
        <input
          type="text"
          name="contactName"
          id="contactName"
          placeholder="Enter name"
        />
        <label class="visually-hidden" for="contactName">Enter name</label>
        <input
          type="text"
          name="contactEmail"
          id="contactEmail"
          placeholder="Enter your email"
        />
        <label class="visually-hidden" for="contactEmail"
          >enter your email
        </label>
        <textarea
          name="contactProblOrQst"
          id="contactProblOrQst"
          placeholder="Enter The Problem Or Query"
        ></textarea>
        <label class="visually-hidden" for="contactProblOrQst"
          >Enter The Problem Or Query
        </label>
        <button type="submit">send now</button>
      </form>
    </div>
  </div>
</section>
