<section class="section send-now">
  <div class="container send-now-container">
    <div class="send-now-wrap">
      <div>
        <svg class="send-now-wrap-icon" width="100" height="86">
          <use href="./img/sprite.svg#icon-spiral-arrow"></use>
        </svg>
        <h2 class="send-now-wrap-title">Contact Us</h2>
        <svg class="send-now-stars" width="21" height="40">
          <use href="./img/sprite.svg#icon-stars-contact"></use>
        </svg>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/quality/img-deskt-1x.png 1x,
              ./img/quality/img-deskt-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/quality/img-tabl-1x.png 1x,
              ./img/quality/img-tabl-2x.png 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            class="send-now-wrap-img"
            src="/img/quality/img-deskt-2x.png "
            alt="quality"
          />
        </picture>
        <svg width="36px" height="36px">
          <use href="/img/sprite.svg#icon-Illustration-3"></use>
        </svg>
      </div>
    </div>
    <div class="send-now-wrapper">
      <h3 class="send-now-wrapper-title">Customer <span>Support</span></h3>
      <form class="send-now-form">
        <input
          type="text"
          name="contactName"
          id="contactName"
          placeholder="Enter name"
        />
        <label class="visually-hidden" for="contactName">Enter name</label>
        <input
          type="text"
          name="contactEmail"
          id="contactEmail"
          placeholder="Enter your email"
        />
        <label class="visually-hidden" for="contactEmail"
          >enter your email
        </label>
        <textarea
          name="contactProblOrQst"
          id="contactProblOrQst"
          placeholder="Enter The Problem Or Query"
        ></textarea>
        <label class="visually-hidden" for="contactProblOrQst"
          >Enter The Problem Or Query
        </label>
        <button type="submit">send now</button>
      </form>
      <svg class="send-now-wrapper-icon" width="100" height="86">
        <use href="./img/sprite.svg#icon-spiral-arrow"></use>
      </svg>
    </div>
  </div>
</section>
