.basket-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.basket {
  position: absolute;
  height: 100vh;
  width: 500px;
  background-color: #f9f9f9;
  top: 0;
  right: 0;
  padding: 40px 10px 10px 20px;
}

.basket-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: #e7e9fc 1px solid;
  background-color: #e7e9fc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.7s ease;
}

.basket-close-btn svg {
  fill: #6c5fbc;
  transition: transform 0.3s;
}

.basket-close-btn:hover svg {
  transform: rotate(90deg);
}

.basket-close-btn:focus,
.basket-close-btn:hover {
  background-color: transparent;
  border: #6c5fbc 1px solid;
}

.empty-basket {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.basket-modal-heading {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.basket-modal-caption {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #797878;
}

.basket-wrap {
  display: flex;
  margin-top: 40px;
}
.basket-wrap-total {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 143%;
  color: #b6b6b6;
}
.basket-wrap-price {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 143%;
  color: #323142;
  margin-left: 10px;
}
.basket-wrap-btn {
  border: 1.2px solid #6c5fbc;
  background-color: transparent;
  border-radius: 10px;
  width: 111px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #6c5fbc;
  transition: all 1s ease;
  margin-left: auto;
}

.basket-wrap-btn:hover {
  color: #fff;
  background-color: #6c5fbc;
}

.basket-swiper {
  margin-top: 40px;
  height: 80%;
  overflow-y: auto;
  padding-right: 10px;
}

@media screen and (min-width: 1024px) {
  .basket-swiper {
    height: 70%;
  }

  .basket-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .basket {
    width: 315px;
  }

  .basket-wrap-total {
    font-size: 14px;
  }

  .basket-wrap-price {
    font-size: 14px;
  }
}
