.customer {
  padding-top: 90px;
  padding-bottom: 80px;
}

.customer-title {
  max-width: 160px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #323142;
  text-align: center;
}

.customer-title span {
  color: #6c5fbc;
}

.customer-swiper-wrapper {
  margin-bottom: 45px;
}

.customer-swiper-slide {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 22px 25px;
  /* box-shadow: 0px 0px 10px 0px #030314; */
}

.customer-swiper-top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customer-swiper-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.customer-swiper-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.customer-swiper-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #030314;
}

.customer-swiper-subtitle {
  font-weight: 500;
  font-size: 9px;
  line-height: 1.5;
  color: #5e5d5d;
}

.customer-swiper-descr {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.45;
  color: #636363;
}

.customer .swiper-scrollbar {
  border-radius: 22px;
  height: 4px;
  background-color: #6b5fbc27;
}

.customer .swiper-scrollbar-drag {
  height: 100%;
  background-color: #6c5fbc;
}
