.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(249, 249, 249, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.js-header-animation {
  opacity: 0;
  transform: translateY(-300px);
}

.js-header {
  box-shadow: 0px 0px 29px -11px rgba(0, 0, 0, 0.6);
  transition: all 0.6s ease;
}

.header-box {
  display: grid;
  align-items: center;
  border-bottom: 0.5px solid #cbcbcb;
  padding: 40px 0;
  transition: all 0.6s ease;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.3;
  color: #6c5fbc;
  grid-row: 1;
}

.header-menu {
  display: block;
  background-color: transparent;
  border: none;
  grid-row: 1;
}

.header-nav-list,
.header-login {
  display: none;
  grid-row: 1;
}

.curent-page::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6c5fbc;
}

.header-basket-btn {
  display: none;
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  grid-row: 1;
}

.header-basket-btn p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  left: 45px;
  top: -10px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  background-color: #6c5fbc;
  color: #f9f9f9;
  border-radius: 50%;
}

.header-menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9f9f9;
  height: 100vh;
  display: none;
  transition: all 0.7s ease;
  transform: translateX(100%);
}

.header-menu-close {
  position: absolute;
  right: 32px;
  top: 24px;
  background-color: #e7e9fc;
  border: transparent 1px solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  fill: #6c5fbc;
}

.header-basket-btn-menu {
  position: absolute;
  top: 24px;
  left: 32px;
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-menu-list li a {
  font-weight: 600;
  font-size: 36px;
  line-height: 74%;
  text-transform: capitalize;
  color: #606060;
}

.header-menu-login {
  display: flex;
  gap: 8px;
}

.header-menu-login-item {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.5;
  color: #606060;
  border: 1px solid #6c5fbc;
  border-radius: 18px;
  display: block;
  text-align: center;
  padding: 17px 26px;
  width: 130px;
  height: 62px;
  color: #6c5fbc;
}

.signup {
  background: #6c5fbc;
  border-radius: 18px;
  color: #f9f9f9;
}

.header-social-list {
  display: flex;
  gap: 55px;
}

.model-order-container {
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .header-menu {
    display: none;
  }

  .header-nav-list,
  .header-login {
    display: flex;
    gap: 5px;
    grid-row: 1;
  }

  .header-nav-list {
    gap: 53px;
    grid-column: 2 / 7;
  }

  .header-nav-item {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    color: #606060;
    display: block;
    position: relative;
  }

  .header-nav-item:focus,
  .header-nav-item:hover {
    color: rgb(108, 95, 188);
  }

  .header-login-item {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.5;
    color: #606060;
    padding: 17px 26px;
    border-radius: 18px;
    border: 1px solid transparent;
    transition: all 0.4s ease;
  }

  .header-login-item:focus,
  .header-login-item:hover {
    border: 1px solid #6c5fbc;
    width: 130px;
    height: 62px;
    color: #6c5fbc;
  }

  .signup {
    color: #f9f9f9;
  }

  .signup:focus,
  .signup:hover {
    color: #6c5fbc;
    border: 1px solid #6c5fbc;
    background-color: transparent;
  }

  .header-basket-btn p {
    left: 30px;
    transition: all 0.5s ease;
  }

  .header-basket-btn:hover p {
    background-color: #574ca2;
  }

  .model-order-container {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .header-basket-btn p {
    left: 55px;
  }
}
