.hero {
  padding-top: 60px;
}

.hero-text {
  font-weight: 600;
  font-size: 9px;
  line-height: 120%;
  letter-spacing: 0.13em;
  color: #201f1f;
  text-align: center;
  position: relative;
}

.hero-text::after {
  content: '';
  border: 0.62px solid #201f1f;
  width: 33px;
  height: 0.5px;
  position: absolute;
  top: 3.5px;
  left: 65px;
}

.hero-title {
  font-weight: 600;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #201f1f;
  margin-bottom: 15px;
}

.hero-title span {
  color: #5c4eae;
}

.hero-prg {
  font-weight: 400;
  font-size: 11px;
  line-height: 156%;
  text-align: center;
  color: #676767;
  opacity: 0.7;
  margin-bottom: 40px;
}

.hero-prg span {
  font-weight: 500;
  color: #5c4eae;
}

.hero-btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.hero-btn-started {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 124px;
  height: 47px;
  background: #6c5fbc;
}

.hero-btn-pro {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #6c5fbc;
  border: 1.2px solid #6c5fbc;
  border-radius: 10px;
  width: 88px;
  height: 47px;
  background-color: transparent;
}

.hero-reviews-wrap {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.hero-reviews-prg {
  font-family: var(--font6);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #334155;
  opacity: 0.7;
}

.hero-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 75px;
}

.hero-images-icon-top {
  position: absolute;
  top: -15px;
  right: -5px;
}

.hero-images-top {
  position: absolute;
  top: 0;
  right: 0;
}

.hero-images-center {
  background-color: #5c4eae;
  border-radius: 50%;
  position: relative;
  width: 200px;
  height: 200px;
}

.hero-images-center img {
  position: absolute;
  top: 4px;
  right: 9px;
  width: 200px;
  height: 210px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background: #5c4eae;
  padding: 100px 50px 80px 50px;
  position: relative;
}

.hero-item:not(:last-child) {
  padding-bottom: 60px;
  position: relative;
}

.hero-item:not(:last-child)::after {
  content: '';
  border: 1px solid #c5c5c5;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.15;
}

.hero-item-title {
  font-weight: 700;
  font-size: 43px;
  line-height: 125%;
  text-align: center;
  color: #fff;
}

.hero-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #c5bfed;
}

.icon-hero-top {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-hero-bottom {
  position: absolute;
  width: 100px;
  height: 120px;
  bottom: 0;
  right: 0px;
}
