.latest-articles-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #323142;
  text-align: center;
  margin-bottom: 60px;
}

.latest-articles-title span {
  color: #6c5fbc;
}

.latest-articles-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.latest-articles-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 11px;
  width: 239px;
  height: 302px;
  box-shadow: 0 3px 32px 0 rgba(197, 197, 197, 0.25);
  background: #fff;
  cursor: pointer;
  padding: 17px 13.5px 18px;
  transition: box-shadow 0.3s ease;
}

.latest-articles-item:focus,
.latest-articles-item:hover {
  box-shadow: 0 2px 6px 0 rgba(197, 197, 197, 0.8);
}

.latest-articles-img {
  border-radius: 8px;
  height: 187px;
  object-fit: contain;
  width: 100%;
}

.latest-articles-questions {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.19112;
  color: #252525;
}

.latest-articles-wrap {
  display: flex;
  align-items: center;
}

.latest-articles-wrap div {
  margin-left: 8px;
}

.latest-articles-written {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 8px;
  color: #8d8d8d;
}

.latest-articles-autor {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.53333;
  color: #000;
}

.latest-articles-date {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.97965;
  color: #b7b4b4;
  margin: auto 0 0 auto;
}

.latest-articles-more {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  transition: all 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6c5fbc;
  }

  &.load {
    color: #6c5fbc;
    cursor: not-allowed;
  }

  &.load::after {
    animation: expand-width 1s infinite;
  }
}

.latest-articles-more:focus,
.latest-articles-more:hover {
  color: #6c5fbc;
}

@keyframes expand-width {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.latest-articles-answer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  max-height: 70vh;
  z-index: 1001;
  padding: 20px;
  border-radius: 11px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in;
}

.latest-answer-active {
  transform: translate(-50%, -50%) scale(1);
}

.latest-articles-answer p {
  overflow: auto;
}

.latest-answer-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px #6c5fbc solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.5s ease;
}

.latest-answer-btn svg {
  fill: #6c5fbc;
}

.latest-answer-btn:focus,
.latest-answer-btn:hover {
  transform: rotate(180deg);
  border: 1px transparent solid;
}

.latest-articles-backdrop {
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 32, 35, 0.8);
  transition: all 0.5s ease;
}

.latest-backdrop-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .latest-articles-title {
    font-size: 31px;
    margin-bottom: 70px;
  }

  .latest-articles-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
  }

  .latest-articles-item {
    width: 248px;
    height: 313px;
  }

  .latest-articles-img {
    border-radius: 9px;
    height: 193px;
  }

  .latest-articles-questions {
    font-size: 15px;
  }

  .latest-articles-autor {
    font-size: 12px;
  }

  .latest-articles-date {
    font-size: 11px;
  }

  .latest-articles-more {
    font-size: 20px;
  }

  .latest-articles-answer {
    width: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .latest-articles-title {
    font-size: 45px;
    margin-bottom: 98px;
  }

  .latest-articles-list {
    gap: 61px;
  }

  .latest-articles-item {
    border-radius: 16px;
    width: 348px;
    height: 440px;
    padding: 25px 20px 30px;
  }

  .latest-articles-img {
    border-radius: 12px;
    height: 272px;
  }

  .latest-articles-questions {
    font-size: 21px;
  }

  .latest-articles-wrap div {
    margin-left: 11px;
  }

  .latest-articles-wrap > img {
    width: 43.7px;
    height: 43.7px;
  }

  .latest-articles-written {
    font-size: 11px;
  }

  .latest-articles-autor {
    font-size: 17px;
  }

  .latest-articles-date {
    font-size: 15px;
  }

  .latest-articles-answer {
    width: 500px;
  }

  .latest-answer-btn {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 1px #6c5fbc solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .latest-answer-btn svg {
    width: 10px;
    height: 10px;
  }
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #363636;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-left: 4px solid #6c5fbc;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
