.backrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.model-order {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #f9f9f9;
  width: 315px;
  height: 75vh;
  max-height: 630px;
  padding: 60px 33px 40px;
  justify-content: space-between;
  border-radius: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-close-wrap {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #e7e9fc;
  border: transparent 1px solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}

.order-close-wrap svg {
  fill: #6c5fbc;
  transition: transform 0.3s;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.model-order-input {
  height: 57px;
  border: #6c5fbc 1px solid;
  border-radius: 10px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  color: #b6b6b6;
}

.model-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 10px;
}

.model-order-container::after {
  content: '';
  position: absolute;
  background-color: #b6b6b6;
  width: 100%;
  height: 1px;
  border-radius: 3px;
  bottom: -10px;
}

.order-wrap {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}

.order-wrap-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.order-list-price {
  display: flex;
}

.order-list-price li {
  display: flex;
  gap: 5px;
}

.order-list-price li:first-child {
  width: 100px;
}

.order-list-price li:nth-child(2) {
  margin-left: 25px;
}

.order-wrap-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  color: #b6b6b6;
}

.order-wrap-variables {
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #323142;
}

.order-wrap-variables-num {
  width: 15px;
  font-weight: 400;
  font-size: 11px;
  line-height: 180%;
  color: #323142;
  text-align: center;
}

.order-wrap-variables-price {
  width: auto;
}

.order-wrap-button {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 65px;
}

.order-wrap-btn {
  background: #323142;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-wrap-btn svg {
  fill: #fff;
  stroke-width: 2.69px;
  stroke: #fff;
  transition: all 0.2s ease;
}

.order-wrap-btn svg {
  fill: #f9f9f9;
  stroke-width: 2.69px;
  stroke: #fff;
}

.order-wrap-btn-minus {
  background: transparent;
  border: 1px solid #323142;
}

.order-wrap-btn-minus svg {
  stroke-width: 4px;
  stroke: #323142;
  fill: #323142;
}

.order-container {
  display: flex;
  justify-content: space-between;
}

.button-basket {
  border-radius: 10px;
  width: 109px;
  height: 45px;
  background: #6c5fbc;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #fff;
  border: 1.2px solid #6c5fbc;
  transition: all 0.8s ease;
}

.button-order {
  border: 1.2px solid #6c5fbc;
  background-color: transparent;
  border-radius: 10px;
  width: 111px;
  height: 45px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #6c5fbc;
  transition: all 1s ease;
}

.model-img {
  max-width: 70px;
  /* display: none; */
}

.model-delete {
  display: none;
  position: relative;
}

.model-delete-open {
  display: block;
}

.delete-wrap {
  display: none;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.button-open-delete {
  background-color: transparent;
  border: none;
  padding: 0;
  transition: all 0.5s ease;
}

.button-open-delete svg {
  fill: #706e8c;
  transition: all 0.5s ease;
}

.delete-wrap button {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #6c5fbc;
  font-size: 12px;
  transition: all 0.3s ease;
}

.delete-wrap button:focus,
.delete-wrap button:active {
  color: #c61212;
}

.delete-wrap button svg {
  fill: #6c5fbc;
  transition: all 0.3s ease;
}
.delete-wrap button:focus svg,
.delete-wrap button:active svg {
  fill: #c61212;
}

@media screen and (min-width: 1024px) {
  .model-order {
    width: 515px;
    height: 100vh;
    max-height: 600px;
    padding: 60px 33px 40px;
    justify-content: space-between;
    border-radius: 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .model-order-container::after {
    bottom: 0;
  }

  .order-close-wrap:hover {
    background-color: transparent;
    border: #6c5fbc 1px solid;
  }

  .order-close-wrap:hover svg {
    transform: rotate(180deg);
  }

  .order-wrap-button {
    max-width: 100px;
    gap: 10px;
  }

  .order-wrap-btn {
    width: 25px;
    height: 25px;
  }

  .order-wrap-btn svg {
    width: 10px;
    height: 10px;
  }

  .order-wrap-btn:hover {
    background-color: #8e97a6;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  }

  .order-wrap-btn:hover svg {
    transform: scale(1.3);
  }

  .order-wrap-btn-minus:hover {
    background-color: #ebe8e8;
  }

  .button-basket:hover {
    color: #6c5fbc;
    background-color: transparent;
  }

  .button-order:hover {
    color: #fff;
    background-color: #6c5fbc;
  }

  .model-img {
    max-width: 120px;
  }

  .order-wrap-variables {
    font-size: 16px;
  }

  .order-wrap-variables-num {
    line-height: 150%;
  }

  .delete-wrap button:hover {
    color: #c61212;
  }

  .delete-wrap button:hover svg {
    fill: #c61212;
  }

  .button-open-delete:hover svg {
    fill: #6c5fbc;
    transform: scale(1.3);
  }
}
