.our-pricing {
  overflow-x: hidden;
}

.our-pricing-wrap {
  width: 100%;
  height: 180px;
  background: #5c4eae;
  padding-top: 21px;
  position: relative;
}

.our-pricing-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  text-align: center;
}

.our-pricing-spiral-icon {
  position: absolute;
  top: 30px;
  left: 20%;
  transform: rotate(-50deg);
  stroke-width: 2;
}

.our-pricing-container {
  position: relative;
  margin-top: -100px;
  transform: translateX(40px);
  box-shadow: 4px 10px 48px 0 rgba(0, 0, 0, 0.1);
}

.our-illustration-icon {
  display: none;
}

.our-pricing-spiral-icon use {
  stroke: #fff;
  stroke-dashoffset: 320;
  stroke-dasharray: 330;
  animation: drawTwo 3s backwards infinite;
  fill: none;
}

.our-pricing-illustration-icon {
  position: absolute;
  bottom: -8%;
  left: -7%;
  stroke-width: 2px;
  stroke-dasharray: 100%;
  animation: draw 1.3s ease-in-out infinite;
}

@media screen and (min-width: 1024px) {
  .our-pricing-wrap {
    padding-top: 31px;
    height: 237px;
  }

  .our-pricing-text {
    font-size: 28px;
  }

  .our-pricing-spiral-icon {
    width: 60px;
    height: 55px;
    left: 33%;
    transform: rotate(-35deg);
    stroke-width: 4px;
  }

  .our-pricing-container {
    margin-top: -195px;
    display: flex;
    justify-content: center;
  }

  .our-illustration-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6%;
    right: 10%;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 100%;
    animation: draw 1.3s ease-in-out infinite;
  }

  .our-pricing-illustration-icon {
    width: 33px;
    height: 30px;
    left: 10%;
    bottom: 8%;
  }
}

@media screen and (min-width: 1440px) {
  .our-pricing-wrap {
    padding-top: 44px;
    height: 334px;
  }

  .our-pricing-text {
    font-size: 40px;
  }

  .our-pricing-spiral-icon {
    width: 83px;
    height: 78px;
    top: 50px;
  }

  .our-pricing-container {
    margin-top: -270px;
  }

  .our-illustration-icon {
    width: 51px;
    height: 46px;
  }

  .our-pricing-illustration-icon {
    width: 46px;
    height: 40px;
  }
}
