/* Reset styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #f9f9f9;
  padding-top: 125px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 85px 0;
}

.container {
  max-width: 375px;
  padding: 0 30px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

mark {
  background-color: rgba(108, 95, 188, 0.5);
  border-radius: 5px;
  color: #606060;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 70px 0;
  }

  .container {
    padding: 0 68px;
    max-width: 1024px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 100px 0;
  }

  .container {
    padding: 0 95px;
    max-width: 1440px;
  }
}
