.send-now-wrap {
  padding-top: 24px;
  height: 150px;
  background: #6c5fbc;
  margin-bottom: 46px;
}

.send-now-wrap div:nth-child(1) {
  display: flex;
}

.send-now-wrap div:nth-child(2) {
  display: none;
}

.send-now-wrap-icon {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  transform: rotate(260deg);
}

.send-now-wrap-icon use {
  stroke-dashoffset: 320;
  stroke-dasharray: 330;
  animation: drawTwo 3s backwards infinite;
}

.send-now-wrap-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}

.send-now-wrapper-title {
  display: none;
}

.send-now-form {
  display: flex;
  flex-direction: column;
}

.send-now-form input {
  border: 1.26px solid #b6b6b6;
  border-radius: 11px;
  padding: 13px 15px;
  width: 100%;
  height: 57px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #b6b6b6;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-now-form input:focus,
.send-now-form input:hover {
  border-color: #6c5fbc;
}

.send-now-form input:first-child {
  margin-bottom: 12px;
}

.send-now-form input:nth-child(3) {
  margin-bottom: 50px;
}

.send-now-form textarea {
  border: 1.22px solid #b6b6b6;
  border-radius: 11px;
  padding: 13px 0px 13px 16px;
  width: 100%;
  height: 210px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #b6b6b6;
  margin-bottom: 22px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-now-form textarea:focus,
.send-now-form textarea:hover {
  border-color: #6c5fbc;
}

.send-now-form button {
  border-radius: 10px;
  height: 55px;
  width: 100%;
  background: #6c5fbc;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #f9f9f9;
  border: none;
}

.send-now-wrapper-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .send-now {
    padding-bottom: 150px;
  }

  .send-now-container {
    display: flex;
    justify-content: space-between;
    gap: 160px;
  }

  .send-now-wrap {
    padding-top: 60px;
    height: 581px;
    margin-bottom: 0;
    width: 377px;
    margin-left: -68px;
    position: relative;
  }

  .send-now-stars {
    position: absolute;
    top: 33px;
    left: 58px;
  }

  .send-now-wrap div:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .send-now-wrap-title {
    font-size: 34px;
  }

  .send-now-wrap-icon {
    width: 238px;
    height: 90px;
    stroke-width: 2px;
    transform: rotate(180deg);
  }

  .send-now-wrap div:nth-child(2) {
    display: flex;
    margin-right: -154px;
    justify-content: flex-end;
    gap: 5px;
  }

  .send-now-wrap div:nth-child(2) svg {
    stroke: #6c5fbc;
    stroke-width: 2px;
    stroke-dasharray: 100%;
    animation: draw 1.3s ease-in-out infinite;
    margin-top: -10px;
  }

  .send-now-wrapper {
    flex: 1;
    max-width: 350px;
    min-width: 265px;
    position: relative;
  }

  .send-now-wrapper-title {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.38512;
    color: #252525;
    margin-bottom: 44px;
  }

  .send-now-wrapper-title span {
    color: #6c5fbc;
  }

  .send-now-form input {
    border: 1.42px solid #b6b6b6;
    border-radius: 12px;
    font-size: 12px;
  }

  .send-now-form input:first-child {
    margin-bottom: 18px;
  }

  .send-now-form input:nth-child(3) {
    margin-bottom: 37px;
  }

  .send-now-form textarea {
    margin-bottom: 30px;
    font-size: 12px;
    border: 1.42px solid #b6b6b6;
    border-radius: 12px;
  }

  .send-now-form button {
    font-size: 14px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .send-now-form button:focus,
  .send-now-form button:hover {
    opacity: 0.9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .send-now-wrapper-icon {
    position: absolute;
    bottom: -50px;
    left: -80px;
    display: block;
    fill: none;
    stroke: #6c5fbc;
    transform: rotate(156deg);
    stroke-width: 2.5px;
  }

  .send-now-wrapper-icon use {
    stroke-dashoffset: 320;
    stroke-dasharray: 330;
    animation: drawTwo 3s backwards infinite;
  }

  .send-now-wrap-img {
    max-width: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .send-now-wrap {
    width: 531px;
    height: 818px;
    margin-left: -95px;
    padding-top: 84px;
  }

  .send-now-stars {
    width: 30px;
    height: 57px;
    top: 47px;
    left: 82px;
  }

  .send-now-wrap-title {
    font-size: 48px;
  }

  .send-now-wrap-icon {
    width: 336px;
    height: 128px;
  }

  .send-now-wrap div:nth-child(2) {
    margin-right: -190px;
  }

  .send-now-wrap div:nth-child(2) svg {
    width: 50px;
    height: 50px;
    margin-top: -15px;
  }

  .send-now-wrapper-title {
    font-size: 40px;
    margin-bottom: 62px;
  }

  .send-now-wrapper {
    max-width: 493px;
  }

  .send-now-form input {
    border: 2px solid #b6b6b6;
    border-radius: 17px;
    padding: 21px 8px 21px 25px;
    height: 79px;
    font-size: 16px;
  }

  .send-now-form input:first-child {
    margin-bottom: 26px;
  }

  .send-now-form input:nth-child(3) {
    margin-bottom: 52px;
  }

  .send-now-form textarea {
    border: 2px solid #b6b6b6;
    border-radius: 18px;
    padding: 22px 35px 22px 27px;
    height: 345px;
    font-size: 18px;
    margin-bottom: 43px;
  }

  .send-now-form button {
    height: 76px;
    font-size: 20px;
  }

  .send-now-wrapper-icon {
    width: 122px;
    height: 122px;
    stroke-width: 2.94px;
    bottom: -110px;
  }

  .send-now {
    padding-bottom: 200px;
  }

  .send-now-wrap-img {
    max-width: none;
  }
}
